body {
  font-family: 'rubik';
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: $dark;
  background-color: $silver-100;

}
.animation {
  transition: color 0.4s, outline 0.4s, border 0.4s, text-shadow 0.4s;

  &:hover {
    color: $orange-900;
  }

  &:focus {
    outline: 2px solid $orange-900;
    border-radius: 5px;
    color: $dark;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}
button {
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

a {
  color: $dark;
}

section{
  margin: 60px 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

button {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mixitup-control-active {
  background-color: #FF6838;
  border-radius: 5px;
  fill: white;
  color: white;
  }

.title{
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: $darkBlue-900;
}