body {
  font-family: 'rubik';
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: $dark;
  background-color: $silver-100;

}

button {
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

a {
  color: $dark;
}

section{
  margin: 60px 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.mixitup-control-active {
  background-color: #FF6838;
  border-radius: 5px;
  fill: white;
  color: white;
  }

.title{
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: $darkBlue-900;
}