body {
  font-family: 'rubik';
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: $dark;
  
}

button {
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

a{
  color: $dark;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}