body {
  font-family: 'rubik';
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: $dark;
  background-color: $silver-100;
  outline: transparent;
}

.btn {
  color: #fff;
  background-color: $orange-900;
  border-radius: 5px;
  transition: background-color 0.4s, outline 0.4s, border 0.4s, box-shadow 0.4s, color 0.4s;

  &:hover {
    background-color: #fff;
    color: $orange-900;
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
  }

  &:focus {
    background: rgba(255, 122, 80, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    color: $orange-900;
  }

  &:active {
    box-shadow: none;
  }



}

.animation {
  transition: color 0.4s, outline 0.4s, border 0.4s, text-shadow 0.4s;

  &:hover {
    color: $orange-900;
  }

  &:focus {
    outline: 2px solid $orange-900;
    border-radius: 5px;
    color: $dark;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

a {
  color: $dark;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: $darkBlue-900;
}