@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {

  .logo {
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}


.logo {
  transition: opacity 0.4s, outline 0.4s, color 0.4s, ease-in-out;
  border-radius: 5px;
  margin-right: auto;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  }

  &:active {
    opacity: 0.5;
  }

}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 69px 0;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 62px;
  align-items: center;


  &-item:not(:last-child) {
    margin-right: 45px;
  }
}


.user-nav {
  display: flex;

  &__link {
    padding: 10px;
    display: inherit;
    transition: outline 0.4s, background-color 0.4s, stroke 0.4s;
    stroke: $dark;
    border-radius: 5px;
    position: relative;

    &:not(:last-child) {
      margin-right: 35px;
    }

    &:hover {
      background-color: $orange-900;
      stroke: #fff;

      .user-nav__num {
        background-color: white;
        color: #FF7A50;
      }
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      stroke: $dark;

      .user-nav__num {
        background-color: #FF7A50;
        color: #fff;
      }
    }

    &:active {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0);
    }

    svg {
      stroke: inherit;

      ellipse {
        stroke: inherit;
      }
    }
  }

  &__num {
    position: absolute;
    left: 24px;
    bottom: 22px;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    padding: 1px 4px;
    background-color: $orange-900; // пока не придумал как сделать смену цвета кружка с цифрой 4
    border-radius: 100%;
  }

}

.hero {
  display: flex;
  justify-content: space-between;

  &__img {
    max-width: 560px;
  }

  &__box {
    max-width: 450px;
  }

  &__title {
    font-size: 66px;
    font-weight: 500;
    margin-bottom: 20px;

    span {
      display: block;
      color: $orange-900;
    }
  }

  &__discription {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__more {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }

  &__order {
    font-size: 18px;
    font-weight: 400;
    margin-right: 34px;
    padding: 12px 32px;
  }
}

.popular-categories {
  text-align: center;
}

.popular-categories .title {
  margin-bottom: 60px;
}

.category {
  display: flex;
  margin-bottom: 45px;

  &__viewmore {
    text-decoration-line: underline;
    font-size: 20px;
    line-height: 150%;
    padding: 10px;
  }

  .mixitup-control-active {
    background-color: #FF6838;
    border-radius: 5px;
    fill: white;
    color: white;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn:not(.mixitup-control-active) {
    background-color: #fff;
  }

  &__btn {
    flex-direction: row;
    display: flex;
    box-shadow: 0px 0px 0px 1px #ECECEC;

    border-radius: 5px;
    padding: 13px 35px;
    height: 70px;
    align-items: center;
    transition: fill 0.4s, color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;

    &:hover {
      fill: $orange-900;
      color: $orange-900;
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:focus {
      fill: $dark;
      color: $dark;
      background-color: #fff;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #fff;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);

    }



    svg {
      FILL: inherit;
      margin-right: 10px;
    }
  }

  &__content {
    display: flex;
    margin-right: -30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 299px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: white;
  position: relative;

  &:hover {
    box-shadow: 0px 0px 0px 1px #FF6838;
  }

  &__img {
    position: absolute;
    top: 20px;
    margin-bottom: 10px;
    width: 140px;
  }


  &__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    position: absolute;
    bottom: 62px;
  }

  &__name {

    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 170px;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    padding: 7px 16px;
    color: #fff;
    background-color: $orange-900;
    font-size: 14px;
    border-radius: 5px;
  }
}



.logo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  fill: #fff;

  .logo {
    text-shadow: none;
    margin-bottom: 30px;
  }

  &__form-input {
    padding: 13px 15px;
    max-width: 200px;
    margin-bottom: 12px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    transition: opacity 0.4s, color 0.4s, outline-color 0.4s, ;
    outline-color: transparent;

    &::placeholder {
      font-size: 14px;
      opacity: 0.9;
      color: $gray;
    }

    &:hover::placeholder {
      opacity: 1;
      color: $darkBlue-900;

    }

    &:focus {
      outline-color: $orange-900;
    }
  }

  .btn {
    padding: 13px 38px;
    background-color: $orange-900;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    transition: backgroud-color 0.4s, color 0.4s, box-shadow 0.4s, fill 0.4s, border-color 0.4s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $orange-900;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      fill: $orange-900;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:active {
      border-color: transparent;
    }

    svg {
      fill: inherit;
      margin-right: 15px;
    }
  }
}

.footer {
  &__bottom {
    border-top: 1px solid $gray;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.main-info{
  column-count: 3;
}
.about {
  
  
  

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    flex-direction: column;
    margin-bottom: 15px;
    stroke: $dark;

    SVG {
      stroke: inherit;
      margin-right: 7px;
    }
  }

  .messengers {
    display: flex;
    flex-direction: line;

    &__item {
      margin-right: 13px;
      position: relative;
    }

    &__circle {
      width: 39px;
      height: 39px;
      background-color: $silver-200;
      border-radius: 50%;
      fill: $dark;


      &:hover {
        background-color: $orange-900;
        fill: #fff;

        circle {
          fill: $orange-900;
        }
      }

      &:focus {
        fill: $dark;
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7); //некорректно работает

        circle {
          fill: #FFF2ED;
        }
      }



      &:active {
        fill: $orange-900;

        circle {
          fill: #FFF2ED;
        }
      }
    }
  }
}




@import 'media';