@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 69px 0;
    align-items: center;
    .logo{
shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.logo {
  transition: opacity 0.4s, outline 0.4s, color 0.4s, ease-in-out;
  letter-spacing: 0.043em;
  font-weight: 500;
  font-size: 33px;
  line-height: 39px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    opacity: 0.8;
  }

  &:focus {

    outline: 2px solid $orange-900;
    border-radius: 5px;
  }

  &:active {
    opacity: 0.5;
  }

  &__left {
    color: $orange-900;
    margin-right: -10px;
  }
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
  margin-right: 62px;
  align-items: center;

  &-item:not(:last-child) {
    margin-right: 45px;
  }
}


.user-nav {
  display: flex;

  &__link {
    padding: 10px;
    display: inherit;
    transition: outline 0.4s, background-color 0.4s, stroke 0.4s;
    stroke: $dark;

    &:hover {
      background-color: $orange-900;
      border-radius: 5px;
      stroke: #fff;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      outline: 2px solid $orange-900;
      border-radius: 5px;
      stroke: $dark;
    }

    &:active {
      border-radius: 0;
    }

    svg {
      stroke: inherit;

      ellipse {
        stroke: inherit;
      }
    }
  }

  &__link:not(:last-child) {
    margin-right: 35px;

  }

  &__link:last-child {
    position: relative;
  }

  &__num {
    content: '';
    position: absolute;
    left: 24px;
    bottom: 22px;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    padding: 1px 4px;
    background-color: $orange-900; // пока не придумал как сделать смену цвета кружка с цифрой 4
    border-radius: 100%;

  }

}

.header__inner {
  display: flex;
  justify-content: space-between;
  font-size: 66px;
  font-weight: 500;

  &-img {
    max-width: 560px;
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
  }

  &-title {
    font-size: 66px;
    font-weight: 500;
    margin-bottom: 20px;

    span {
      display: block;
      color: $orange-900;
    }
  }

  &-discription {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &-links {
    font-size: 18px;
    font-weight: 400;
  }

  &-order {
    color: #fff;
    margin-right: 34px;
    padding: 12px 32px;
    background-color: $orange-900;
    border-radius: 5px;
    transition: background-color 0.4s, outline 0.4s, border 0.4s, box-shadow 0.4s, color 0.4s;

    &:hover {
      background-color: #fff;
      outline: 2px solid $orange-900;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      color: $orange-900;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      color: $orange-900;
    }

    &:active {
      border: none;
    }
  }



}

.popular-categories {
  text-align: center;
}

.popular-categories .title {
  margin-bottom: 60px;
}

.category {
  display: flex;
  margin-bottom: 45px;

  &__list:not(:last-child) {
    margin-right: 20px;
  }

  &__btn:not(.mixitup-control-active) {
    background-color: #fff; //перекрывала оранжевый фон
  }

  &__btn {
    flex-direction: line;
    display: flex;
    box-shadow: 0px 0px 0px 1px #ECECEC;

    border-radius: 5px;
    padding: 13px 35px;
    height: 70px;
    align-items: center;
    transition: fill 0.4s, color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;

    &:hover {
      fill: $orange-900;
      color: $orange-900;
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:focus {

      border-radius: 5px;
      fill: $dark;
      color: $dark;
      background-color: #fff;
    }

    &:active {
      background-color: #fff;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);

    }

    //проблема с анимацией, пока не знаю как исправить

    svg {
      FILL: inherit;
      margin-right: 10px;
    }
  }

  &__content {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 210px;
    height: 299px;

    margin-bottom: 30px;
    margin-left: 24px; //поставил 24 вместо 30, потомучто по какому-то чуду оно не влезает, проверил в сумме выходит 1170, влезать должно, но не влезает, в чем причина я пока не понял.
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    &:hover {
      box-shadow: 0px 0px 0px 1px #FF6838;
      border-radius: 5px;
    }

    &-viewmore {
      text-decoration-line: underline;
      font-size: 20px;
      line-height: 150%;
      padding: 10px;

    }

    &-discription {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
      text-align: center;
    }

    &-price {
      font-weight: 500;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    &-img {
      margin-top: 20px;
      margin-bottom: 10px;
      width: 140px;
    }

    &-discription {
      font-size: 15px;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin: 0;
    }
  }
}

.btn__tobasket {
  padding: 7px 16px;
  margin-bottom: 20px;
  color: #fff;
  background-color: $orange-900;
  font-size: 14px;
  border-radius: 5px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  fill: #fff;

  .logo {
    text-shadow: none;
    margin-bottom: 30px;
  }

  &__form-input {
    padding: 13px 15px;
    max-width: 200px;
    margin-bottom: 12px;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    transition: opacity 0.4s, color 0.4s, outline-color 0.4s, ;
    outline-color: transparent;

    &::placeholder {
      font-size: 14px;
      opacity: 0.9;
      color: $gray;
    }

    &:hover::placeholder {
      opacity: 1;
      color: $darkBlue-900;

    }

    &:focus {
      outline-color: $orange-900;
    }
  }

  .subscribe {
    padding: 13px 38px;
    background-color: $orange-900;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    transition: backgroud-color 0.4s, color 0.4s, box-shadow 0.4s, fill 0.4s, border-color 0.4s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $orange-900;
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
      fill: $orange-900;
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:active {
      border-color: transparent;
    }

    svg {
      fill: inherit;
      margin-right: 15px;
    }
  }
}

.footer {
  &__bottom {
    border-top: 1px solid $gray;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.about {
  display: flex;
  flex-direction: column;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    flex-direction: column;
    margin-bottom: 15px;
    stroke: $dark;

    SVG {
      stroke: inherit;
      margin-right: 7px;
    }
  }

  .messengers {
    display: flex;
    flex-direction: line;

    li {
      margin-right: 13px;
      position: relative;
    }

    &__circle {
      width: 39px;
      height: 39px;
      background-color: $silver-200;
      border-radius: 50%;
      fill: $dark;

      &:hover {
        background-color: $orange-900;
        fill: #fff;
      }

      &:focus {
        background-color: #FFF2ED;
        fill: $dark;
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      }

      // focus отказывается работать

      &:active {
        background-color: #FFF2ED;
        fill: $orange-900;
      }

      svg {
        position: absolute;
        fill: inherit;
        left: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}




@import 'media';